.DS_Store
app
neural.h.gch
out.txt
outN.txt
~$out.xlsx
main.o
neural.o
stock.o
save.txt
build/
Neuron-Network.build/
Resultats/Sans titre.tiff
Resultats/nb_ligne.txt
Resultats/save_reseau_binaire.txt
